<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>A place to read works of philosophy and drama from antiquity.</p>
  </div>

  <nav class="sidebar-nav">

    {% comment %}
      The code for the "/academy" side bar. Link to each Classics author.
    {% endcomment %}

    <!-- <a class="sidebar-nav-item{% if page.title == 'Home' %} active{% endif %}" href="{{ '/' | absolute_url }}">Home</a> -->
    <!-- <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | absolute_url }}">{{ node.title }}</a> -->
    <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a> -->
    <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a> -->
    <a class="sidebar-nav-item" href="{{ site.url }}/academy">Home</a>
    <a class="sidebar-nav-item" href="{{ site.url }}/sophocles">Sophocles</a>
    <a class="sidebar-nav-item" href="{{ site.url }}/plato">Plato</a>
    <a class="sidebar-nav-item" href="{{ site.url }}/aristotle">Aristotle</a>
    <a class="sidebar-nav-item" href="{{ site.github }}">GitHub project</a>
    <!--<span class="sidebar-nav-item">Currently v{{ site.version }}</span>-->
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
